<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html ng-app="AccountModule">
    <head>
        <script src ="js/angular.min.js"></script>
        <script src ="js/angular-resource.min.js"></script>
        <script src ="js/AccountController.js"></script>
        <title>Add Customer</title>
        
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">


	<link rel="stylesheet" type="text/css" href="css/styles.css">

<!--===============================================================================================-->
    </head>
    <body>
        <div>

            	<div class="container-contact100">

		<div class="wrap-contact100">
			<form class="contact100-form" ng-submit="formSubmitNewCust()" ng-controller="AccountController" >
				<span class="contact100-form-title">
					Create an Account
				</span>

				<div class="wrap-input100">
                                    <input class="input100" type="text" name="email" ng-model="email" placeholder="E-mail">
					<span class="focus-input100"></span>
				</div>

				<div class="wrap-input100">
					<input class="input100" type="text" name="username" ng-model="username" placeholder="Username">
					<span class="focus-input100"></span>
				</div>

				<div class="wrap-input100">
					<input class="input100" type="text" name="firstName" ng-model="firstName" placeholder="First Name">
					<span class="focus-input100"></span>
				</div>
                            
                                <div class="wrap-input100">
                                        <input class="input100" type="text" name="lastName" ng-model="lastName" placeholder="Last Name">
                                        <span class="focus-input100"></span>
                                </div>

				<div class="container-contact100-form-btn">
					<button class="contact100-form-btn">
						<span>
							<i class="fa fa-paper-plane-o m-r-6" aria-hidden="true"></i>
							Create
						</span>
					</button>
				</div>
			</form>
		</div>
	</div>


 </body>

</html>

