<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html ng-app="AccountModule">
    <head>
        <script src ="js/angular.min.js"></script>
        <script src ="js/angular-resource.min.js"></script>
        <script src ="js/AccountController.js"></script>
        <title>Hello World!</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div ng-controller="AccountController as accCtrl">
            {{accCtrl.testing}}
        </div>
    </body>
</html>
